.THIS a{
    display: inline-flex;
    position: relative;
    padding: 35px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 14px;
    color: #6e6e6e;
    font-weight: normal;
}
.THIS .linkImage{
        width: 24px; 
        height: 24px; 
    	margin:0;
    	margin-right:5px;
    	padding:0px;
}

.THIS img{
    float: left; 
    margin: 15px 0 0 52px;
    height: 85px; padding-right: 3px;
}
.THIS .header,.cCommunityHeader{
   width:100%;
   margin-bottom:15px !important;
}
@media (max-width: 768px) {
.THIS img{
    float: left; 
    margin: 0;
    height: 70px;
    padding-right: 3px;
}
   .THIS .header,.cCommunityHeader{
   width:100%;
   margin-bottom:0;
   margin-top:10px;
        
}
    .THIS.cCommunityHeader div{
        display:flex !important;
    }
    .THIS .linkImage{
        width: 24px; 
        height: 24px; 
        padding-right: 3px;
}
    .THIS a{
                      display: inline-flex;
                      position: relative;
                      padding: 15px;
                      margin: 0;
                      text-decoration: none;
                      font-size: 14px;
                      color: #6e6e6e;
                      font-weight: normal;
}
    .THIS .spanText{
        padding:0 !important;
        text-align: center;
    }
    
}