<apex:page standardStylesheets="false" showHeader="false" sidebar="false" docType="html-5.0">
    <div class="vlocity via-slds broker-registration" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-app="BrokerRegistration">
        <vlocity_ins:BusinessProcessComponent strOmniScriptType="Broker"
            strOmniScriptSubType="Register"
            strOmniScriptLang="English"
            previewMode="{!$CurrentPage.parameters.previewEmbedded}"
            verticalMode="{!$CurrentPage.parameters.verticalMode}"
            strOmniScriptId="{!$CurrentPage.parameters.designerPreviewId}"
            scriptLayout="newport"
            />
        <style>.nds-spinner--brand svg circle, .nds-spinner_brand svg circle{fill: #c6006f !important;}</style>
        <script type="text/javascript">
            var modules = ['vlocity-business-process','ngSanitize'];
            var app = angular.module('BrokerRegistration', modules);
        </script>
    </div>
    <vlocity_ins:VFActionFunction /> 
</apex:page>