<apex:page standardStylesheets="false" showHeader="false" sidebar="false" docType="html-5.0">
    
    
    <div class="vlocity via-slds broker-contract" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-app="BrokerContracting">
        <vlocity_ins:BusinessProcessComponent strOmniScriptType="Broker"
            strOmniScriptSubType="Contracting"
            strOmniScriptLang="English"
            previewMode="{!$CurrentPage.parameters.previewEmbedded}"
            verticalMode="{!$CurrentPage.parameters.verticalMode}"
            strOmniScriptId="{!$CurrentPage.parameters.designerPreviewId}"
            scriptLayout="newport"
     
            />
        <style>.nds-spinner--brand svg circle, .nds-spinner_brand svg circle{fill: #c6006f !important;}</style>
        <apex:includeScript value="{!URLFOR($Resource.Assets, 'js/dirPagination.js')}" /> 
        <script type="text/javascript">
            var modules = ['vlocity-business-process','ngSanitize','angularUtils.directives.dirPagination'];
            var app = angular.module('BrokerContracting', modules);
            
            Visualforce.remoting.timeout = 60000;
        </script>
        
              
    </div>
    <vlocity_ins:VFActionFunction /> 
</apex:page>