<apex:page standardController="vlocity_ins__Application__c" extensions="InProcessApplicationsCtrl" showHeader="false" sidebar="true" docType="html-5.0" id="thePage">
   
    <apex:stylesheet value="{!URLFOR($Resource.Ltng_SLDS, '/assets/styles/salesforce-lightning-design-system-vf.min.css')}"/>
    <style>
      .slds-spinner:after, .slds-spinner:before, .slds-spinner__dot-a:after, .slds-spinner__dot-a:before, .slds-spinner__dot-b:after, .slds-spinner__dot-b:before {
          background: #981e32 !important;
      }
      .page-container{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
      }
      .apllication-title{
        padding: 20px 0;
      }
      .apllication-title .title{
        font-size: 24px;
        color: #111;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th {
        background: #f5f5f5;
      }
      th, td {
        border: 1px solid #fafafa;
        padding: 8px;
      }
      tr:nth-child(even) {
        background: #fafafa;
      }
      thead th{
        color: #cb177d;
        font-size: 16px;
      }
      tbody th,
      tbody td{
        color: #333333;
        font-size: 14px;
      }
      .script-title{
          color: #2c87f0;
          cursor: pointer;
      }
    </style>
    <div class="SLDS_Winter_17">
        <div id="lightning">
            <div class="slds-spinner_container">
                <div class="slds-spinner--brand slds-spinner slds-spinner--large" role="alert">
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div> 
    </div>
    <div id="lightningDetail">
        <div class="SLDS_Winter_17">
          <div class="page-container">
            <div class="apllication-title">
              <h1 class="title">
                Application(s) in progress
              </h1>
            </div>
            <div class="table-wrapper">
              <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                <thead>
                  <tr class="slds-text-title--caps">
                    <th scope="col">
                      <div class="slds-truncate" title="Name">Name</div>
                    </th>
                    <th scope="col">
                      <div class="slds-truncate" title="Status">Status</div>
                    </th>
                    <th scope="col">
                      <div class="slds-truncate" title="Last Saved">Last Saved</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <apex:repeat value="{!savedOmniscripts}" var="Omni">
                  <tr>
                    <td scope="row" data-label="Name">
                      <div class="slds-truncate" title="{!Omni.Name}">{!Omni.Name}</div>
                    </td>
                    <td scope="row" data-label="Status">
                        <div class="slds-truncate" title="{!Omni.vlocity_ins__Status__c}">
                            <a class="script-title" onclick="window.top.location = '{!$Label.PortalBaseURL }brokercommissions/s/resume-broker-details?actionUrl=/apex/BrokerContract?OmniScriptInstanceId={!Omni.Id}&scriptMode=vertical&loadWithPage=false#';">{!Omni.vlocity_ins__Status__c}</a>
                            </div>
                    </td>      
                    <td data-label="Last Saved">
                      <div class="slds-truncate" title="{!Omni.vlocity_ins__LastSaved__c}">
                          <apex:outputText value="{0, date,E MMMM d','  yyyy}">
                              <apex:param value="{!Omni.vlocity_ins__LastSaved__c}" /> 
                          </apex:outputText>

                      </div>
                    </td>
                  </tr>
                  </apex:repeat>
                </tbody>
              </table>
            </div>
          </div>

        </div>
    </div>  
</apex:page>